*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    
}
.navbar{
    height: 70px;
    background-color: coral;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
height: 50px;
width: 100px;
}

.logo{
    background-image: url(Screenshot\ 2025-09-17\ at\ 6.40.24\ AM.png);
    background-size: cover;
height: 50px;
width: 100%;
}

.border{
    border: 2px solid transparent;
}
.border :hover{
    transform: scale(1.02);
}
.add-one{
    font-size: 0.85rem;
    margin-left: 18px;
}
.add-two{
font-size: 1rem;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(148, 151, 196);
    width: 600px;
    height: 50px;
    border-radius: 5px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1.5rem;
    border: none;
}
.search-icon{
    width: 40px;
display: flex;
align-items: center;
justify-content: center;
}

.add-cart{
    width: 50px;
   font-weight: 700;
}

.todays-pick{
    margin: 5px;
   border: 2px solid transparent; 
    display: flex;
flex-direction: column;
text-align: center;
padding: 0 20px;
}
.todays-pick > p {
    font-size: 1.5rem;
    margin: 20px 0;
}

 .image-row{
    display: flex;
    overflow-x: auto;  /* horizontal scroll*/
    scroll-snap-type: x mandatory;
    
 }
 .foods{
    margin: 10px;
flex:0 0 80%;
scroll-snap-align: start;
border-radius: 4px;
 }

 .foods img{
   
    width: 200px;
    height: 200px;
    object-fit: cover;
 }
 .todays-pick p {
    font-weight: 800;
 }

.search-fav-restro{
    font-size: larger;
}

.all-restro{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
  
    display: flex;

}
.restro{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 5px;
  
   border-radius: 5px;
    width: 100%;
    height: 200px;
    font-size: 1.2rem;
}


.restro-img img{
    width: 200px;
    height: 190px;
    object-fit: cover;
}

.foot{
    display: flex;
    justify-content: center;
   align-items: center;
height: 500px;
width: 100%;
background-color:coral ;
flex-direction: column;
}


.Social{
    display: flex;
    flex-direction: column;
    align-items:center;
    
}


.foot-heading{
    margin: 10px;
    font-size: 1.5rem;
    
}
.contact-section{
    height: 200px;
    width: 400px;
}
.cont-sec-head{
    font-size:1.1rem ;
}
.send-message{
    display: flex;
    justify-content: center;
   align-items: center;
   gap: 5px;
   margin: 5px;

}
.message-box{
height: 50px;
width: 340px;
font-size: 1.2rem;
border-radius: 10px;
}
.message-button{
    height: 50px;
    width: 60px;
    font-size: 1.2rem;
    border-radius: 10px;
}
.add-to-cart{
    margin: 5px;
    
    
}
.cart-main-heading{
    height: 100px;
    width: 100%;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}

.orders{
    /* height: 210px; */
    width: 100%;
    border: 2px solid grey;
    display: flex;
    justify-content: space-between;
    padding: 2px;
}
.order-left-side{
    display: flex;
   
}

.order-right-side{
    display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px;
   
}

.order-details{
    margin-left:5px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: large;
}
.restro-name{
    font-size: 1.5rem;
}
.dish-name{
    font-size: 1.2rem;    
}

.order-image img{
   border: 2px solid black;
   height: 200px;
   width: 200px;
   object-fit: cover; 

}

.btn-property{
    font-size: 25px;
    padding: 5px;
}

.checkout{
height: 100px;
width: 100%;
background-color: #ccc;  
display: flex;
justify-content: space-evenly; 
align-items: center;
 
}
.pay-btn{
    color: gainsboro;
    background-color: rgb(53, 184, 79);
    font-size: 1.5rem;
    border-radius: 10px;
}

.conti-fooding{
    font-size: 1.5rem;
}


@media(max-width:1200px)  {
    
   .todays-pick{
    width: calc(50% - 10px);
    display: flex;
   flex-wrap: wrap;
   }

   .image-row{
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(150px,1fr));
   }   

   .foods img{
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
   }

  .all-restro{
    width: calc(50% - 10px);
  }

  .p{
        font-size: 1.5rem;
    }
}


@media (max-width :600px){
    
    .nav-logo{
        width: calc(60% - 20px);
    }
    .nav-search{
        width: 100%;
    }


    .todays-pick{
        width: calc(50% - 10px);
        display: flex;
       flex-wrap: wrap;
       }

       .image-row{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
       }

       .foods img{
        height: 100px;
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
       }
    
    
    .p{
        font-size: 0.80rem;
    }
    

    }


