*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 70px;
    background-color: coral;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
height: 50px;
width: 100px;
}

.logo{
    background-image: url(Screenshot\ 2025-09-17\ at\ 6.40.24\ AM.png);
    background-size: cover;
height: 50px;
width: 100%;
}

.border{
    border: 2px solid transparent;
}
.border :hover{
    border: 2px solid black;
}
.add-one{
    font-size: 0.85rem;
    margin-left: 18px;
}
.add-two{
font-size: 1rem;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(148, 151, 196);
    width: 600px;
    height: 50px;
    border-radius: 5px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1.5rem;
    border: none;
}
.search-icon{
    width: 40px;
display: flex;
align-items: center;
justify-content: center;
}

.add-cart{
    width: 50px;
   font-weight: 700;
}

.todays-pick{
    margin: 5px;
   border: 2px solid grey; 
    display: flex;
flex-direction: column;
text-align: center;
}

 .image-row{
    display: flex;
    justify-content: space-evenly;
    
 }
 .foods img{
    width: 300px;
    height: 300px;
    object-fit: cover;
 }
 .todays-pick p {
    font-weight: 800;
 }




